.stats-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .stats-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
  }
  
  .student-card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .student-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-content {
    text-align: center;
  }
  
  .student-name {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .student-year {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .progress-bar-container {
    background-color: #e0e0e0;
    height: 15px;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #007bff;
    transition: width 0.4s ease;
  }
  
  .progress-percentage {
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  .filter-container {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-size: 1rem;
    margin-right: 10px;
  }
  
  select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  

  @media (max-width: 500px) {
      .stats-container {
          padding: 0px;
      }
      .filter-container {
        margin-top: 20px;
        text-align: center;
      }
      
      select {
        width: 40%;
      }
}